<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zju.crm4learning.mapper.TbPaymentMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zju.crm4learning.pojo.TbPayment" >
    <id column="payment_order_id" property="paymentOrderId" jdbcType="VARCHAR" />
    <result column="payment_date" property="paymentDate" jdbcType="TIMESTAMP" />
    <result column="payment_cutting_wage" property="paymentCuttingWage" jdbcType="VARCHAR" />
    <result column="payment_tax_point" property="paymentTaxPoint" jdbcType="VARCHAR" />
    <result column="payment_strike" property="paymentStrike" jdbcType="VARCHAR" />
    <result column="payment_input_money" property="paymentInputMoney" jdbcType="VARCHAR" />
    <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    payment_order_id, payment_date, payment_cutting_wage, payment_tax_point, payment_strike, 
    payment_input_money, payment_method
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.zju.crm4learning.pojo.TbPaymentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_payment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      tbOrder by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_payment
    where payment_order_id = #{paymentOrderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_payment
    where payment_order_id = #{paymentOrderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.zju.crm4learning.pojo.TbPaymentExample" >
    delete from tb_payment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.zju.crm4learning.pojo.TbPayment" >
    insert into tb_payment (payment_order_id, payment_date, payment_cutting_wage, 
      payment_tax_point, payment_strike, payment_input_money, 
      payment_method)
    values (#{paymentOrderId,jdbcType=VARCHAR}, #{paymentDate,jdbcType=TIMESTAMP}, #{paymentCuttingWage,jdbcType=VARCHAR}, 
      #{paymentTaxPoint,jdbcType=VARCHAR}, #{paymentStrike,jdbcType=VARCHAR}, #{paymentInputMoney,jdbcType=VARCHAR}, 
      #{paymentMethod,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zju.crm4learning.pojo.TbPayment" >
    insert into tb_payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paymentOrderId != null" >
        payment_order_id,
      </if>
      <if test="paymentDate != null" >
        payment_date,
      </if>
      <if test="paymentCuttingWage != null" >
        payment_cutting_wage,
      </if>
      <if test="paymentTaxPoint != null" >
        payment_tax_point,
      </if>
      <if test="paymentStrike != null" >
        payment_strike,
      </if>
      <if test="paymentInputMoney != null" >
        payment_input_money,
      </if>
      <if test="paymentMethod != null" >
        payment_method,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paymentOrderId != null" >
        #{paymentOrderId,jdbcType=VARCHAR},
      </if>
      <if test="paymentDate != null" >
        #{paymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentCuttingWage != null" >
        #{paymentCuttingWage,jdbcType=VARCHAR},
      </if>
      <if test="paymentTaxPoint != null" >
        #{paymentTaxPoint,jdbcType=VARCHAR},
      </if>
      <if test="paymentStrike != null" >
        #{paymentStrike,jdbcType=VARCHAR},
      </if>
      <if test="paymentInputMoney != null" >
        #{paymentInputMoney,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null" >
        #{paymentMethod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.zju.crm4learning.pojo.TbPaymentExample" resultType="java.lang.Integer" >
    select count(*) from tb_payment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_payment
    <set >
      <if test="record.paymentOrderId != null" >
        payment_order_id = #{record.paymentOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentDate != null" >
        payment_date = #{record.paymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.paymentCuttingWage != null" >
        payment_cutting_wage = #{record.paymentCuttingWage,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentTaxPoint != null" >
        payment_tax_point = #{record.paymentTaxPoint,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentStrike != null" >
        payment_strike = #{record.paymentStrike,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentInputMoney != null" >
        payment_input_money = #{record.paymentInputMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentMethod != null" >
        payment_method = #{record.paymentMethod,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_payment
    set payment_order_id = #{record.paymentOrderId,jdbcType=VARCHAR},
      payment_date = #{record.paymentDate,jdbcType=TIMESTAMP},
      payment_cutting_wage = #{record.paymentCuttingWage,jdbcType=VARCHAR},
      payment_tax_point = #{record.paymentTaxPoint,jdbcType=VARCHAR},
      payment_strike = #{record.paymentStrike,jdbcType=VARCHAR},
      payment_input_money = #{record.paymentInputMoney,jdbcType=VARCHAR},
      payment_method = #{record.paymentMethod,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zju.crm4learning.pojo.TbPayment" >
    update tb_payment
    <set >
      <if test="paymentDate != null" >
        payment_date = #{paymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentCuttingWage != null" >
        payment_cutting_wage = #{paymentCuttingWage,jdbcType=VARCHAR},
      </if>
      <if test="paymentTaxPoint != null" >
        payment_tax_point = #{paymentTaxPoint,jdbcType=VARCHAR},
      </if>
      <if test="paymentStrike != null" >
        payment_strike = #{paymentStrike,jdbcType=VARCHAR},
      </if>
      <if test="paymentInputMoney != null" >
        payment_input_money = #{paymentInputMoney,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null" >
        payment_method = #{paymentMethod,jdbcType=VARCHAR},
      </if>
    </set>
    where payment_order_id = #{paymentOrderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zju.crm4learning.pojo.TbPayment" >
    update tb_payment
    set payment_date = #{paymentDate,jdbcType=TIMESTAMP},
      payment_cutting_wage = #{paymentCuttingWage,jdbcType=VARCHAR},
      payment_tax_point = #{paymentTaxPoint,jdbcType=VARCHAR},
      payment_strike = #{paymentStrike,jdbcType=VARCHAR},
      payment_input_money = #{paymentInputMoney,jdbcType=VARCHAR},
      payment_method = #{paymentMethod,jdbcType=VARCHAR}
    where payment_order_id = #{paymentOrderId,jdbcType=VARCHAR}
  </update>
</mapper>